@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.projects-container {
    @include border-header;
}

.projects-card {
    width: 100%;
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
    margin-top: 25px;
    line-height: 2rem;

    h3 {
        font-size: 2.3rem;
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 5px;
        font-size: 1.7rem;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.projects-card-text {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.projects-card-links {
    display: flex;
    align-items: center;
    margin: 20px 0;

    a {
        margin-right: 7%;
        border: 1px solid $dark-accent;
        font-size: 1.8rem;
        color: $dark-accent;
        text-decoration: none;
        padding: 5px 4%;
    }
}
.projects-expanded-info {
    max-height: 0;
    overflow: hidden;

    p {
        margin-bottom: 15px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
.expand-enter {
    max-height: 0;
}
.expand-enter-active {
    max-height: 200px;
    transition: max-height 200ms;
}
.expand-enter-done {
    max-height: 200px;
}
.expand-exit {
    max-height: 200px;
}
.expand-exit-active {
    max-height: 0;
    transition: max-height 200ms;
}
.expand-exit-done {
    max-height: 0;
}