@import '../../styles/variables.scss';

.portfolio-preview {
  width: 100%;
}
.project-card {
  width: 100%;
  padding: 1rem 0.5rem;
  margin: 1rem 0;
  border: 0.5px solid $secondary-accent;
  background: $base-color;
  border-radius: 0.5rem;

  h2 {
    color: $secondary-color;
    font-size: 2rem;
    margin: 1rem 0;
  }

  img {
    width: 95%;
    margin: 0 auto;
    display: block;
    border: 1px solid #222;
  }
}
