@mixin border-header {
    position: relative;
    margin: 50px auto;
    border-top: 1px solid #ccc;
    width: 90%;
    padding-top: 25px;

    @media #{$desktop}{
        padding-top: 50px;
    }

    h2 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background: $base-color;
        padding: 0 5%;
        font-size: 4rem;
        font-family: 'Economica', sans-serif;
    }
}