@mixin border-header {
    position: relative;
    margin: 50px auto;
    border-top: 1px solid #ccc;
    width: 90%;
    padding-top: 25px;

    @media #{$desktop}{
        padding-top: 50px;
    }

    h2 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background: $base-color;
        padding: 0 5%;
        font-size: 4rem;
        font-family: 'Economica', sans-serif;
    }
}

@mixin btn {
    font-family: "Lucida Console", Monaco, monospace;
    color: $base-color;
    background: $dark-accent;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 2%;
    border: 1px solid $dark-accent;

    &:hover {
        background: rgba(4, 8, 23, 0.7);
        cursor: pointer;
    }
    &:active {
        background: $base-color;
        color: $dark-accent;
        transform: translateY(2px);
    }
}