// Screen sizes
$tablet: "only screen and (min-width: 401px)";
$desktop: "only screen and (min-width: 901px)";

// Colors
$base-color: #edefef;
$accent-color: #01E0FE;
$secondary-color: #827F84;
$tertiary-color: #6E6C6D;
$dark-accent: #040817;

// Misc
$nav-height-mobile: 100px;
$nav-width-desktop: 10%;
