@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.skills-container{
    @include border-header;
}
.skills-bounce {
    position: relative;
    height: 350px;
    z-index: 0;
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
    border: 1px solid #ccc;
    margin: 25px 0;

    @media #{$desktop}{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    svg {
        z-index: -1;
    }

    > svg:first-of-type {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 0;
        color: $dark-accent;

        &:hover {
            cursor: pointer;
            color: rgba(4, 8, 23, 0.7);
        }
        &:active {
            color: rgba(4, 8, 23, 0.4);
        }
    }
}
.skills-resume-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 2.2rem;

    p {
        font-size: 1.8rem;
    }
    a {
        text-decoration: none;
    }
}
.skills-resume {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    color: $dark-accent;

    a {
        @include btn;
        display: flex;
        align-items: center;
    }
   svg {
        margin-right: 15%;
        font-size: 4.5rem;
    }
}