@import '../../styles/variables.scss';

.resume-container {
    width: 100%;
    margin: 1rem 0;
    padding: 2rem 1rem;
    border: 0.5px solid $secondary-accent;
    border-radius: 0.5rem;
    background: $base-color;

    h2 {
        color: $secondary-color;
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }

    img {
        width: 100%;
        border: 1px solid black;
    }
}