@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.about-container {
    margin-top: 50px;
}

.about-calls-to-action {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        @include btn;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-child {
            margin-right: 10%;
        }
    }
}
.about-synopsis {
    width: 75%;
    margin: 25px auto;
    text-align: center;
    line-height: 2.2rem;

    p {
        font-size: 1.8rem;

        &:first-child {
            margin-bottom: 15px;
        }
    }
}
.about-social-media {
    display: flex;
    justify-content: center;

    a {
        margin-left: 10%;
    }
    a:first-child {
        margin-left: 0;
    }

    svg {
        color: #00b3ca;

        &:hover {
            color:  rgba(0,179,202, 0.7);
        }
        &:active {
            color: #005965;
            transform: translateY(2px);
        }
    }
}