@import '../../styles/variables.scss';

.about-container {
    margin-top: 50px;
}

.about-calls-to-action {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 2%;
        background: $dark-accent;
        color: $base-color;
        border-radius: 5px;

        &:first-child {
            margin-right: 10%;
        }
        &:hover {
            color: $accent-color;
        }
    }
}