@import '../../styles/variables.scss';

.about-container {
    border: 0.5px solid $secondary-accent;
    border-radius: 0.5rem;
    background: $base-color;
    padding: 2rem 1rem;
    margin: 1rem 0;

    h2 {
        color: $secondary-color;
        font-size: 2rem;
        margin: 1rem 0;
    }
}