@import '../../styles/variables.scss';

.greeting-content {
    background: $dark-accent;
    width: 100%;
    height: 295px;
    color: $base-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Console", Monaco, monospace;
    margin-top: $nav-height-mobile;
}
.greeting-text {
    position: relative;
    font-size: 3.7vw;

    @media #{$tablet} {
        font-size: 1.6rem;
    }

    span {
        color: $accent-color;
    }
}
.greeting-blink {
    position: absolute;
    left: 100%;
    top: 100%;
    transform: translateY(-100%);
}