@import '../../styles/variables.scss';

.nav-container {
    position: fixed;
    left: 0;
    top: 0;
    height: $nav-height-mobile;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: #b0b6b6;

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
    }
}
.nav-links {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    background: $tertiary-color;
    z-index: 1;

    a {
        height: 100px;
        font-size: 1.8rem;
        color: $base-color;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.nav-open-links {
    background: $secondary-color;
    border: none;
    height: 50px;
    width: 50px;
    max-height: 75%;
    border-radius: 10px;
    position: absolute;
    top: 25%;
    left: 5%;

    &:focus {
        outline: none;
    }
    &:active {
        background: $tertiary-color;
    }
}
.nav-slide-enter {
    width: 0;
}
.nav-slide-enter-active {
    width: 40vw;
    transition: width 200ms;
}
.nav-slide-enter-done {
    width: 40vw;
}
.nav-slide-exit {
    width: 40vw;
}
.nav-slide-exit-active {
    width: 0;
    transition: width 200ms;
}
.nav-slide-exit-done {
    width: 0;
}
.title-slide-enter {
    transform: translateX(0);
}
.title-slide-enter-active {
    transform: translateX(40vw);
    transition: transform 200ms;
}
.title-slide-enter-done {
    transform: translateX(40vw);
}
.title-slide-exit {
    transform: translateX(40vw);
}
.title-slide-exit-active {
    transform: translateX(0);
    transition: transform 200ms;
}
.title-slide-exit-done {
    transform: translateX(0);
}