@import "../../styles/variables.scss";

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  border-bottom: 1px solid $secondary-accent;
  background: $base-color;
  z-index: 2;

  @media #{$desktop} {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    border-right: 1px solid $secondary-accent;
    background: $base-color;
  }
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 100%;
  width: 100%;

  @media #{$desktop} {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.nav-item {
  height: 100%;

  a {
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15%;
    color: $secondary-color;

    &.active {
      font-weight: bold;
      box-shadow: 0 -50px 50px -70px $secondary-accent inset;
    }

    &:visited {
      color: $secondary-color;
    }

    &:active {
      color: $secondary-color;
    }
  }
  @media #{$desktop} {
    color: $secondary-color;
    font-size: 1.9rem;
    flex-grow: 1;
    width: 100%;

    a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      &.active {
        font-weight: bold;
        box-shadow: -50px 0 50px -70px $secondary-accent inset;
      }

      &:visited {
        color: $secondary-color;
      }

      &:active {
        color: $secondary-color;
      }
    }
  }
}
