@import '../../styles/variables.scss';

.nav-container {
    position: fixed;
    left: 0;
    top: 0;
    height: $nav-height-mobile;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: $tertiary-color;
    border-bottom: 3px solid $accent-color;

    @media #{$desktop}{
        flex-direction: column;
        justify-content: space-around;
        padding-top: 15px;
        height: auto;
    }

    h1 {
        font-size: 6rem;
        font-weight: 300;
        padding-bottom: 10px;
        font-family: 'Economica', sans-serif;
    }
}
.nav-links {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    background: $tertiary-color;
    z-index: 1;

    @media #{$desktop}{
        width: 40%;
        position: static;
        flex-direction: row;
        justify-content: space-around;
        height: 50%;
        background: $tertiary-color;
    }

    a {
        height: 100px;
        font-size: 2rem;
        font-family: "Lucida Console", Monaco, monospace;
        color: $base-color;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        @media #{$desktop}{
            height: 50px;
            color: $dark-accent;
            border-top: 2px solid $tertiary-color;
            transition: 0.2s;

            &:hover {
                color: $base-color;
            }
            &:active {
                color:  $accent-color;
            }
        }
        @media #{$tiny}{
            font-size: 5vw;
        }
        &:focus {
            outline: none;
        }
    }
}
.nav-open-links {
    background: $secondary-color;
    border: none;
    height: 50px;
    width: 50px;
    max-height: 75%;
    border-radius: 10px;
    position: absolute;
    top: 25%;
    left: 5%;

    @media #{$desktop}{
        display: none;
    }

    &:focus {
        outline: none;
    }
    &:active {
        background: $tertiary-color;
    }
}
.nav-slide-enter {
    width: 0;
}
.nav-slide-enter-active {
    width: 30vw;
    transition: width 300ms;
}
.nav-slide-enter-done {
    width: 30vw;
}
.nav-slide-exit {
    width: 30vw;
}
.nav-slide-exit-active {
    width: 0;
    transition: width 300ms;
}
.nav-slide-exit-done {
    width: 0;
}
.button-slide-enter {
    left: 5%;
    transform: translateX(0);
}
.button-slide-enter-active {
    left: 90%;
    transform: translateX(-50%);
    transition: left 300ms, transform 200ms;
}
.button-slide-enter-done {
    left: 90%;
    transform: translateX(-50%);
}
.button-slide-exit {
    left: 90%;
    transform: translateX(-50%);
}
.button-slide-exit-active {
    left: 5%;
    transform: translateX(0);
    transition: left 300ms, transform 200ms;
}
.button-slide-exit-done {
    left: 5%;
    transform: translateX(0);
}
